.ChatScreen {
  flex: 1;
  overflow: scroll;
}

.ChatScreenHeader {
  padding: 20px;
  font-weight: bold;
  font-size: 1.4rem;
  color: #f44336;
  text-align: center;
}

.ChatScreen-placeholder {
  padding: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}