.ScreenBottomButton {
  width: 100%;
  padding: 10px;
  text-align: center;
  box-shadow: 2px -1px 4px 0px rgba(0,0,0,0.24);
}

.ScreenBottomButton > button {
  border: 3px solid #F44336;
  border-radius: 20px;
  background-color: #f44336;
  color: white;
  padding: 10px;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
}

.ScreenBottomButton > button:hover {
  background-color: transparent;
  color: #f44336;
}

.ScreenBottomButton > button:focus {
  outline: none;
  box-shadow: none;
}
