.ZoomableMap {
  overflow: scroll;
  height: 320px;
  background-color: #212121;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.24);
  margin-top: 50px;
}
.ZoomableMap-container {
  position: relative;
}

.ZoomableMap-image {
  height: 100%;
}

.ZoomableMap-button {
  right: 10px;
  top: 5px;
  padding: 4px;
  font-weight: 900;
  color: #f44336;
  font-size: 2rem;
  position: absolute;
  background-color: transparent;
  border: none;
}

.ZoomableMap-button > img {
  height: 2rem;
}

.ZoomableMap-button--zoomOut {
  left: 10px;
}